// Font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
$font-family: 'Lato', sans-serif;

// Colors
$colors: (
  primary: #007bff,
  secondary: #6c757d,
  success: #28a745,
  dark-success: #218838,
  danger: #dc3545,
  dark-danger: #c82333,
  warning: #ffc107,
  dark-warning: #e0a800,
  info: #17a2b8,
  light: #f8f9fa,
  dark: #343a40
);

// Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Border-radius
$border-radius: (
  default: 5px,
  medium: 10px
);

// Shadows

// Font sizes
$font-sizes: (
  base: 1rem,
  medium: 1.25rem,
  large: 1.5rem,
  x-large: 2rem
);
