// Font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
$font-family: 'Lato', sans-serif;

// Colors
$colors: (
  info: #17a2b8,
  dark-info: #117a8b,
  danger: #dc3545,
  dark-danger: #c82333,
  warning: #ffc107,
  dark-warning: #e0a800,
  light: #ffffff,
  light-border: #94929b,
  light-secondary: #f9f9f9,
  dark: #1f212a,
  text: #212121,
  grey: #575960
);

$finalColors: (
  // off-white
  background: #fafaf9,
  // deep brown
  primary: #292524,
  // medium brown
  secondary: #57534e,
  // muted gold
  accent: #d97706,
  // light beige
  muted: #e7e5e4,
  // admin color
  info: #17a2b8,
  info-dark: #117a8b,
  danger: #dc3545,
  danger-dark: #c82333,
  warning: #ffc107,
  warning-dark: #e0a800
);

// Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Border-radius
$border-radius: (
  default: 0.25em,
  medium: 0.5em
);

// Font sizes
$font-sizes: (
  small: 0.8rem,
  base: 1rem,
  medium: 1.25rem,
  large: 1.5rem,
  x-large: 2rem
);
