@use '../utils/function' as fn;

.button {
  &-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;

    @media (min-width: fn.breakpoint(lg)) {
      grid-template-columns: 1.8fr 1fr auto;
    }
  }

  &-create {
    grid-column: 3;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: fn.font-size(base);
    border-radius: fn.border-radius(default);
    border: none;
    color: fn.color(light);
    background-color: fn.color(dark);
    transition: background-color 0.3s;

    @media (min-width: fn.breakpoint(lg)) {
      width: 150px;
      justify-self: end;
    }
  }

  &-edit {
    @extend .button-create;
    margin-right: 0.5rem;
    background-color: fn.color(warning);
    cursor: pointer;

    &:hover {
      background-color: fn.color(dark-warning);
    }
  }

  &-images {
    @extend .button-create;
    margin-right: 0.5rem;
    background-color: fn.color(info);
    cursor: pointer;

    &:hover {
      background-color: fn.color(dark-info);
    }
  }

  &-delete {
    @extend .button-create;
    background-color: fn.color(danger);
    cursor: pointer;

    &:hover {
      background-color: fn.color(dark-danger);
    }
  }

  &-primary {
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: fn.color(light);
    border: none;
    border-radius: fn.border-radius(default);
    background-color: #007bff;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }

  &-secondary {
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: fn.color(light);
    border: none;
    border-radius: fn.border-radius(default);
    background-color: #6c757d;
    transition: background-color 0.3s;

    &:hover {
      background-color: #5a6268;
    }
  }
}

.delete-btn,
.confirm-btn {
  background: #dc2626;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}

.cancel-btn {
  background: #e5e7eb;
  padding: 1rem 2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.black {
  background: fn.color(dark);
  color: fn.color(light);
}

.create-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: fn.spacing(sm) fn.spacing(md);
  margin-bottom: fn.spacing(md);
  font-size: 1.1rem;
  font-weight: 600;
  color: fn.color(light);
  background-color: fn.color(dark);
  border: none;
  border-radius: fn.border-radius(default);
  cursor: pointer;
}
