.form {
  &-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  &-error {
    color: color(danger);
    font-weight: bold;
    margin: 1rem 0;
  }
}

.formkit {
  &-wrapper {
    max-width: 100% !important;
  }

  // TODO: Ajouter le même style que pour l'input search
}
