@use '../abstracts/function' as fn;

.form {
  &-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  &-error {
    color: fn.color(danger);
    font-weight: bold;
    margin: 1rem 0;
  }
}

.formkit {
  &-wrapper {
    max-width: 100% !important;

    button {
      background-color: fn.color(dark) !important;
    }
  }
}

.variant-type {
  margin-bottom: 1.5rem;
}

.user {
  &-name {
    margin-bottom: 1rem;
  }
  &-email {
    margin-bottom: 1.5rem;
  }
}
