@use '../utils/function' as fn;

.search {
  &-label {
    display: block;
    margin-top: 1.5rem;
    color: fn.color(dark);
    font-size: fn.font-size(base);
  }
  &-input {
    padding: 10px;
    font-size: fn.font-size(base);
    border-radius: fn.border-radius(default);
    border: 1px solid fn.color(light-border);
    margin-right: 10px;
    width: 100%;
    box-sizing: border-box;
    transition:
      border-color 0.3s,
      box-shadow 0.3s;

    &:focus {
      border-color: fn.color(primary);
      box-shadow: 0 0 5px fn.color(dark);
      outline: none;
    }
  }
}

.form-file {
  display: block;
  margin-bottom: 1.5rem;
  font-size: fn.font-size(base);
  color: fn.color(dark);

  input[type='file'] {
    display: block;
    margin-top: 0.5rem;
    padding: 10px;
    font-size: fn.font-size(base);
    border-radius: fn.border-radius(default);
    border: 1px solid fn.color(light-border);
    width: 100%;
    box-sizing: border-box;
    transition:
      border-color 0.3s,
      box-shadow 0.3s;

    &:focus {
      border-color: fn.color(primary);
      box-shadow: 0 0 5px fn.color(dark);
      outline: none;
    }
  }
}
