.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: color(dark);
  color: color(light);

  &-brand a {
    color: color(light);
    text-decoration: none;
    font-size: 1.5rem;
  }

  &-burger {
    display: none;
    flex-direction: column;
    padding: 8px 0;
    cursor: pointer;

    %span-design {
      height: 2px;
      width: 25px;
      background-color: color(light);
      display: block;
      pointer-events: none;
    }

    span {
      @extend %span-design;
      position: relative;

      &::before,
      &::after {
        @extend %span-design;
        content: '';
        position: absolute;
        left: 0;
      }

      &::before {
        top: -7px;
      }
      &::after {
        top: 7px;
      }
    }
  }

  &-menu {
    display: flex;
    gap: 1rem;

    a {
      color: color(light);
      text-decoration: none;
      position: relative;
      display: inline-block;
      padding: 0.5rem 1rem;

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: currentColor;
        transition: width 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  @media (max-width: breakpoint(md)) {
    &-burger {
      display: flex;

      span {
        transition: transform 0.3s ease-in-out;

        &::before,
        &::after {
          transition:
            top 0.3s ease-in-out,
            transform 0.3s ease-in-out;
        }
      }

      &.is-active {
        span {
          transform: rotate(45deg);
          &::after {
            top: 0;
            transform: rotate(90deg);
          }
          &::before {
            top: 0;
            transform: rotate(90deg);
          }
        }
      }
    }

    &-menu {
      display: none;
      flex-direction: column;
      gap: 0;
      background-color: color(dark);
      z-index: 1;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      height: calc(100vh - 60px);
      text-align: center;
      border-top: 1px solid color(light);

      &.is-active {
        display: flex;

        a {
          &::after {
            width: 0; // Reset the underline width in mobile mode
          }

          &:hover::after {
            width: 0; // Disable the underline animation in mobile mode
          }
        }
      }

      a {
        padding: 1rem;
        border-top: 1px solid color(dark);
      }
    }
  }
}
