@use '../abstracts/function' as fn;
@use '../components/card';

.book {
  &-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  &-item {
    @extend .card;
  }

  &-link {
    @extend .card-link;
  }

  &-info {
    @extend .card-info;
  }

  &-image {
    @extend .card-image;
  }

  &-title {
    @extend .card-title;
  }

  &-author {
    @extend .card-author;
  }
}
