.container {
  max-width: clamp(300px, 75vw, 900px);
  text-align: center;
  margin: 0 auto;
  padding: 20px;

  &-login {
    padding: 0 1rem;
    text-align: center;

    width: clamp(200px, 50vw, 500px);
    margin: clamp(1rem, 1.5rem, 4rem) auto 1rem;
  }
}
